.expenses {
    padding: 0.2rem;
    background-color: rgb(31, 31, 31);
    margin: 1rem auto;
    width: 30rem;
    max-width: 80%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}


.expense-item {
    border: 1px solid #ccc;
    margin: 10px;
    height: 5rem;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    
}

.expense-item_Title h3 {
    color: #333;
    margin: 0;
    font-size: larger;
    /* text-align: center; */
    justify-content: space-between ;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.expense-item__amount {
    border: 1px solid #ccc;
    margin-top: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 8rem;
    background-color: rgb(61, 86, 86);;
    font-size: large;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    position: relative;
    line-height: 40px;
}

.expense-item button {
    background-color: rgb(21, 219, 136); /* Blue background color */
    color: #000000; /* White text color */
    font-size: large;
    padding: 10px; /* Padding around the button text */
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;; /* Show pointer cursor on hover */
    margin-top: 20px; /* Add some space above the button */
  }